.about{
    flex-direction: column;
}

.about-content{
    display: flex;
    justify-content: space-between;
    gap:6rem;
}

.pic1{
    width: 32%;
    height: 100%;
    margin: auto;
}
.about-text-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about-text-content .heading{
    font-size: 3rem;
}

.text{
    font-size: xx-large;
    font-weight: 10;
    color: #4d4d4d;
}

.btnbox{
    width: 80%;
    height: 64px;
}