.edu{
    flex-direction: column;
}

.edu-card{
    display: flex;
    gap:124px;
}
.text-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 12px
}
.edu-img{
    height: 360px;
    width: auto;
}