.main{
    display: flex;
    flex-direction: column;
}
.section{
    width: 100%;
    padding: 32px 160px;
    display: flex;
    justify-content: space-between;
    gap:2rem;
}

.btnbox{
    width:max-content;
    height: max-content;
    display: flex;
    gap:24px;
}

/* typography */

.display-font{
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.05em;
}

.logo-font{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    cursor: pointer;
}

.link-font{
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
}

.button-font{
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.01em;
    padding:12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.body-font{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.small-body-font{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #757575;
}

h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-transform: capitalize;
}

h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.1em;
    text-transform: capitalize;
}

h3{
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: 0.15em;
    text-transform: capitalize;
}
.wip{
    display: none;
}

@media (max-width: 1119px) {
  .main{
    display: none;
  }
  .navbar{
    display: none;
  }
  .wip{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    width: 100%;
    height: 100vh;
  }
}