@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans';
    /* border: 1px solid lime; */
}

