.navbar{
    flex-direction: row;
    padding: 8px 160px !important;
    height: 69px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.links{
    display: flex;
    gap: 40px;
}

.navlinks{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 24px;
}
